*{
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: whitesmoke;
}

#container{
    width: 40%;
    background-color: white;
    margin: 0 auto;
    padding: 20px;
}

#chat-box{
    width: 90%;
    height: 400px;
}

#chat-data{
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid silver;
}

input[type='text']{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px
}

input[type='submit']{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px
}

textarea{
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px
}